# Dependências do Node.js
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Relatórios de cobertura de testes
coverage/

# Arquivos de ambiente
.env

# Configurações do editor VSCode
.vscode/

# Arquivos temporários do sistema
.DS_Store
Thumbs.db